---
import { Icon } from "astro-icon/components";

const {
    href,
    style = "default",
    icon = "default",
    classes = "",
} = Astro.props;

---

<a
    href={href.url}
    class="button flex items-center gap-3"
    class:list={[style ? style : "default", classes]}
>
    <slot />

    {icon !== "default" ? <Icon name={icon} class="text-red-500" /> : ""}
</a>

<style></style>
