---
import "../../lib/modal.css";
import Button from "./Button.astro";

const { id, title, content="" } = Astro.props;


import { renderRichText } from "@storyblok/astro";
---

<dialog {id} class="modal">
  <div>
    <header class="p-5 flex justify-end">
      <!-- Кнопка для закрытия модалки -->
      <button
        class="button flex items-center gap-3 transperent"
        data-modal-close
        aria-label="Закрыть (Esc)"
      >
        Закрыть
      </button>
    </header>

    <section class="p-5 modal__body space-y-6">
      <h3 class="text-center">{title}</h3>
    {content ?   <div set:html={renderRichText(content)} class="space-y-4 w-full"/> : ''}
    </section>
  </div>
</dialog>

<script type="module" src="/modal.js"></script>
