---
import { Icon } from "astro-icon/components";

const {
    style = "default",
    icon = "default",
    classes = "",
    id
} = Astro.props;
---

<button
data-modal-open={`#${id}`}
    class="button flex items-center gap-3"
    class:list={[style ? style : "default", classes]}
>
    <slot />

    {icon !== "default" ? <Icon name={icon} class="text-red-500" /> : ""}
</button>
