@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat.ttf') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anticva';
  src: url('/fonts/Anticva-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-main-brown: #7D4B31;
  --color-main-light: #F9F4EA;
}

.splide__track { height: calc(100% - 2.5rem); /* 2.5rem = ~40px на точки */ }

ul.splide__pagination {
    position: static !important;
    @apply h-10;
  }

  h2 {
    font-family: Anticva, 'Sans-serif';
    @apply text-[35px] md:text-[60px];
    line-height: 1.2;
  }

  h3 {
    font-family: Anticva, 'Sans-serif';
    @apply text-[25px] md:text-[45px];
    line-height: 1.2;
  }

  h4 {
    font-family: Anticva, 'Sans-serif';
    @apply text-[20px] md:text-[30px];
    line-height: 1.2;
  }

  /* p {
    font-size: 24px;
  } */

@theme {
    --color-main-dark: #383329;
    --color-main-hover-dark: #2b2a27;
  --color-main-light: #F9F4EA;
  --color-main-green: #3A4E33;
  --color-main-white: #FFFFFF;
  --color-main-hover-green: #304429;
  --color-main-white-green: #EEFFE7;
  --color-main-hover-white-green: #C6D7BF;
  --color-main-brown: #7D4B31;
}

html { scroll-behavior: smooth;}

body {
    font-family: Montserrat, 'Sans-serif';
    @apply text-main-dark tracking-wide text-[16px]  md:text-[18px];
}

.layout {
    @apply w-[90%] sm:w-[90%] mx-auto;
}

.button {
    @apply rounded-xl px-6 py-2 uppercase transition-colors duration-200 cursor-pointer;
}

.button.default, .button.transperent {
    @apply border-[1px] border-main-dark text-main-dark hover:bg-main-dark hover:text-white
}

.button.transperent-white {
  @apply border-[1px] border-main-white text-main-white hover:bg-main-white hover:text-main-dark;
}

.button.light {
  @apply border-[1px] border-main-dark text-main-dark bg-main-light hover:bg-[#F4E7D4] hover:text-main-dark;
}

.button.green {
    @apply text-white bg-main-green hover:bg-main-hover-green hover:text-white;
}

u {
  text-decoration-color: currentColor !important;
}
