---

import ContactsForm from "./ContactsForm.astro"

---

<div class="layout">

    <div class="grid grid-cols-2 gap-4">

        <ContactsForm />

        <div class="xl:p-10 p-5 border-2 border-main-dark rounded-2xl">

            <h3>Контакты</h3>

        </div>
            
    </div>

</div>