---
import Button from "../../base/Button.astro";
import Checkbox from "../../base/Checkbox.astro";
import Modal from "../../base/Modal.astro";
---

<div class="xl:p-10 p-5 bg-main-light rounded-2xl space-y-4">
  <h3>Связаться с нами</h3>

  <form id="contact-form" name="contact" method="POST" data-netlify="true" class="space-y-2">
    <!-- скрытые служебные поля -->
    <input type="hidden" name="form-name" value="contact" />
    <p class="hidden">
      <label>Не заполняйте это поле: <input name="bot-field" /></label>
    </p>

    <!-- Имя -->
    <input
      type="text"
      name="Имя"
      id="name"
      required
      class="p-5 w-full bg-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-main-secondary focus:border-main-secondary"
      placeholder="Ваше имя"
    />

    <!-- Телефон -->
    <input
      type="text"
      name="Телефон"
      id="phone"
      required
      class="p-5 w-full bg-white rounded-2xl focus:outline-none focus:ring-2 focus:ring-main-secondary focus:border-main-secondary"
      placeholder="Телефон"
    />

    <!-- Сообщение -->
    <textarea
      name="Почта"
      id="message"
      rows="5"
      required
      class="bg-white p-5 w-full rounded-2xl focus:outline-none focus:ring-2 focus:ring-main-secondary focus:border-main-secondary"
      placeholder="Опишите задачу или проект"></textarea>

    <Checkbox
      id="agree"
      name="agree"
      required={true}
      label="Я даю согласие на обработку моих персональных данных"
    />

    <!-- Кнопка -->
    <button
      type="submit"
      class="w-full button green hover:bg-green-700"
    >
      Отправить
    </button>
  </form>

  <!-- Модалка -->
  <Modal id="modal-form" title="Ваша заявка отправлена" size="small">
    <p class="text-center">Спасибо за ваше сообщение. Мы скоро с вами свяжемся.</p>
  </Modal>
</div>

<script>
  const handleSubmit = event => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString()
    })
      .then(() => {
        // Открыть модалку после успешной отправки формы
        if (window.modal && window.modal.open) {
          window.modal.open('#modal-form'); // Открытие модалки
        }

        // Очистить форму после отправки
        myForm.reset();
      })
      .catch(error => {
        alert("Ошибка при отправке формы: " + error);
      });
  };

  document.querySelector("form").addEventListener("submit", handleSubmit);
</script>
