---
const { blok } = Astro.props;

import About from "../../partials/home/about/About.astro";

import { storyblokEditable } from "@storyblok/astro";
---

<section {...storyblokEditable(blok)} class="py-10 bg-main-light rounded-2xl" id={blok.component}>
    <About {...blok} />
</section>
